
<!DOCTYPE html>
<html>
<head>
<style>
body {
  color: #070520;
}

h1 {
  color: #FDAED2;
}
h3 {
  color: #E12901;
}


h1 {
  font-family: serif;
}

h2 {
  font-family: serif; 
}

h3 {
  font-family: serif;
}


/* Flexible images */

img {
  max-width: 100%;
  height: auto;
}
